NextGenSoftware.OASIS.MCP.Server/bin/Debug/net10.0/BouncyCastle.Cryptography.dll
NextGenSoftware.OASIS.MCP.Server/bin/Debug/net10.0/Nethereum.Util.Rest.dll
NextGenSoftware.OASIS.MCP.Server/bin/Debug/net10.0/NextGenSoftware.OASIS.API.DNA.xml
NextGenSoftware.OASIS.MCP.Server/bin/Debug/net10.0/NextGenSoftware.OASIS.Common.xml
NextGenSoftware.OASIS.MCP.Server/bin/Debug/net10.0/NextGenSoftware.OASIS.STAR.DNA.xml
NextGenSoftware.OASIS.MCP.Server/bin/Debug/net10.0/runtimes/browser-wasm/nativeassets/net9.0/e_sqlite3.a
NextGenSoftware.OASIS.MCP.Server/bin/Debug/net10.0/runtimes/linux-musl-riscv64/native/libe_sqlite3.so
NextGenSoftware.OASIS.MCP.Server/bin/Debug/net10.0/runtimes/linux-musl-s390x/native/libe_sqlite3.so
NextGenSoftware.OASIS.MCP.Server/bin/Debug/net10.0/runtimes/linux-riscv64/native/libe_sqlite3.so
NextGenSoftware.OASIS.MCP.Server/bin/Debug/net10.0/runtimes/win/lib/net10.0/System.Security.Cryptography.Pkcs.dll
NextGenSoftware.OASIS.MCP.Server/bin/Debug/net10.0/URIUtility.dll
